.hr-space {
    border-style: dotted none none;
    height: auto;
    width: 3%;
    border-width: thick;
    border-color: #bac2c2;
    margin: 50px auto 50px auto;
}

.container {
    margin-left: 40%;
    margin-top: 3%;
}